.idea/**
__pycache__/**
excel_files/**
classifiers/__pycache__/predict.cpython-38.pyc
classifiers/__pycache__/test_model.cpython-38.pyc
classifiers/__pycache__/train_model.cpython-38.pyc
features/__pycache__/headbytes.cpython-38.pyc
features/__pycache__/feature.cpython-38.pyc
features/__pycache__/randbytes.cpython-38.pyc
features/__pycache__/randhead.cpython-38.pyc
features/readers/__pycache__/readers.cpython-38.pyc
stored_models/trained_classifiers/rf-head-2021-06-30.pkl
stored_models/trained_classifiers/rf-head-2021-06-30-info.json
stored_models/class_tables/CLASS_TABLE-rf-head-2021-06-30.json
classifiers/predict.py
directory_predictions.json
stored_models/trained_classifiers/rf-head-2021-07-01.pkl
stored_models/trained_classifiers/rf-head-2021-07-01-info.json
stored_models/class_tables/CLASS_TABLE-svc-head-2021-07-01.json
stored_models/class_tables/CLASS_TABLE-rf-head-2021-07-01.json
stored_models/class_tables/CLASS_TABLE-logit-head-2021-07-01.json
stored_models/class_tables/CLASS_TABLE-svc-head-2021-07-01_v1.json
stored_models/trained_classifiers/svc-head-2021-07-01-info.json
stored_models/trained_classifiers/svc-head-2021-07-01.pkl
stored_models/class_tables/CLASS_TABLE-svc-head-2021-07-01_v2.json
stored_models/class_tables/CLASS_TABLE-rf-head-2021-06-22.json
stored_models/class_tables/CLASS_TABLE-rf-head-2021-07-01_v1.json
stored_models/class_tables/CLASS_TABLE-rf-randhead-2021-06-22.json
stored_models/trained_classifiers/logit-head-2021-07-01.pkl
stored_models/trained_classifiers/logit-head-2021-07-01-info.json
stored_models/trained_classifiers/rf-head-2021-06-22-info.json
stored_models/trained_classifiers/rf-head-2021-06-22.pkl
stored_models/trained_classifiers/rf-head-2021-07-01_v1.pkl
stored_models/trained_classifiers/rf-head-2021-07-01-info_v1.json
stored_models/trained_classifiers/rf-randhead-2021-06-22-info.json
stored_models/trained_classifiers/rf-randhead-2021-06-22.pkl
stored_models/trained_classifiers/byteSizeData/rf-head-2021-07-01-21:32:17.pkl
stored_models/trained_classifiers/byteSizeData/rf-head-2021-07-01-21:32:17-info-512Bytes.json
stored_models/trained_classifiers/rf-randhead-2021-06-22.pkl
stored_models/trained_classifiers/rf-randhead-2021-06-22-info.json
stored_models/trained_classifiers/rf-head-2021-06-22.pkl
stored_models/trained_classifiers/rf-head-2021-06-22-info.json
stored_models/class_tables/byteSizeData/CLASS_TABLE-rf-head-2021-07-01-21:32:17.json
stored_models/class_tables/CLASS_TABLE-rf-randhead-2021-06-22.json
stored_models/class_tables/CLASS_TABLE-rf-head-2021-06-22.json
stored_models/trained_classifiers/
stored_models/class_tables/
.gitignore
stored_models/trained_classifiers/rf-randhead-2021-06-22.pkl
stored_models/class_tables/CLASS_TABLE-rf-randhead-2021-06-22.json
stored_models/trained_classifiers/rf-head-2021-06-22-info.json
stored_models/trained_classifiers/rf-head-2021-06-22.pkl
stored_models/trained_classifiers/rf-randhead-2021-06-22-info.json
stored_models/class_tables/CLASS_TABLE-rf-head-2021-06-22.json
classifiers/predict.py
.gitignore
directory_probability_predictions.json
byteSizeData/
Scheduler/EstimateTime/models
Scheduler/EstimateSize/models
.history/
Scheduler/queue.pkl
Scheduler/times.csv
Scheduler/Experiments
Scheduler/Queues
Scheduler/Experiment2
Scheduler/Experiment3
Scheduler/Experiment4
Scheduler/Experiment4_images
Scheduler/EXPERIMENT4_FINALIMAGES
Scheduler/EXPERIMENT4_PAPERIMAGES